<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Eat Da Burger!</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                {{#each data}}
                    {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-xs-3 text-center">
                    <form method="POST" action="/models/burger.js/update?_METHOD=PUT"
                        class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-lg btn-success">DEVOUR! NOM!</button> 
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<form>
    <div class="form-group">
        <textarea class="form-control" id="burger-form" rows="5"></textarea>
    </div>
</form>